<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.qa.testcases.GetEmployeeSectionManagerInfo"/>
      <class name="com.qa.testcases.GetEmployeeDirectorInfo"/>
      <class name="com.qa.testcases.GetEmployeeGMInfo"/>
      <class name="com.qa.testcases.GetEmployeeVPInfo"/>
      <class name="com.qa.testcases.GetEmployeeCEOInfo"/>
      <class name="com.qa.testcases.GetEmployeePresidentInfo"/>
          
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
